/* Global Settings Modal */
.global-settings-modal.modal-dialog {
  width: 420px;
}

.global-settings-modal {
  .global-setting-container {
    margin-bottom: 16px;
  }

  .settings-component {
    margin-bottom: 15px;
  }

  .wv-header {
    margin-bottom: 12px;
  }

  #latest-imagery-options-container {
    display: flex;
    align-items: center;

    #latest-imagery-menu-container {
      margin-left: 10px;
    }

    #latest-imagery-menu-button {
      background: $wv-orange;
      border-color: $wv-orange;
    }

    #latest-imagery-menu-button:disabled {
      background: #a3a3a3;
      border-color: #a3a3a3;
      cursor: not-allowed;
    }

    #latest-imagery-menu {
      background-color: #000;
    }

    #latest-imagery-menu button {
      color: #eee;
    }

    .latest-imagery-menu-items:hover {
      color: #000 !important;
    }

    #latest-imagery-menu-item-header {
      color: #eee;
      font-weight: bold;
    }
  }

  .btn-group button.setting-button {
    color: #fff;
    background: #222;

    &.active {
      background: #d54e21;
      border-color: #d54e21;
    }

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

@media (max-width: 576px) {
  .global-settings-modal.modal-dialog {
    width: 96%;
    margin: 0;
  }
}
